<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bulma.css">
    <link rel="stylesheet" href="main.css">
    <script src="angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="main.js"></script>
</head>
<body dir="rtl" style="min-height: 100vh;margin: 0; padding: 0;" ng-app="main">
    <div style="background-color: #9c0000; padding: 15px 10px; color: white;box-shadow: 0 1px 5px rgba(0,0,0,0.6); position: fixed;top: 0;left: 0;width: 100%;z-index: 100">
        <div style="font-size: 24px; font-weight: bold;">

            هنروران شریف
            <div style="float: left">
                <a href="/logout" style="color: white;">
                خروج
                </a>
            </div>
        </div>
    </div>
    <div class="container is-fluid" ng-controller="mainCtrl">
        <div class="columns" style="min-height: 100vh;padding: 100px 0 0 0;">
            <div class="column" style="background-color: #FFF;">
                <div style=" height: 95%;position: relative; color: white;">
                    <aside class="menu">
                        <div class="menu-label" style="margin-bottom: 0 ;font-size: medium; text-align: center; padding: 10px 0; background-color: darkred; color: #FFF;">
                            درس های من
                        </div>
                        <ul  class="menu-list" style="background-color: #f1f1f1;" ng-repeat="course in courses">
                            <li>
                                <a href="#coursePage" ng-click="courseInfo(course.courseNo)">{{course.courseNo}}</a>
                            </li>
                        </ul>
                        <div class="menu-label" style="margin-bottom: 0 ;font-size: medium; text-align: center; padding: 10px 0; background-color: darkred; color: #FFF;">
                            دستیاران من
                        </div>
                        <ul class="menu-list" style="background-color: #f1f1f1; overflow-y: scroll; max-height: 400px;" ng-repeat="course in courses">
                            <li>
                                <a class="courseta">{{course.courseName}}</a>
                                <ul ng-repeat="ta in course.tas">
                                    <li>
                                        <a>{{ta}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="menu-label" style="margin-bottom: 0 ;font-size: medium; text-align: center; padding: 10px 0; background-color: darkred; color: #FFF;">
                            رخدادها
                        </div>
                        <ul class="menu-list" style="background-color: #f1f1f1;">
                            <li><a>میانترم</a></li>
                            <li><a>پایان ترم</a></li>
                            <li><a>تمرین</a></li>
                            <li><a>امتحانک</a></li>
                        </ul>
                        <div class="menu-label" style="margin-bottom: 0 ;font-size: medium; text-align: center; padding: 10px 0; background-color: darkred; color: #FFF;">
                            <a>پیام ها (10)</a>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="column is-8" style="background-color: #f6f6f6;box-shadow: 0 0 5px rgba(0,0,0,0.7)">

                <div ng-hide="mainPage">
                    <div>
                        <div class="mainPageObjectsTitle">
                            درسهای من
                        </div>
                        <div class="mainPageObjects">
                            <div ng-repeat="course in courses">
                                <a href="#coursePage" ng-click="courseInfo(course.courseNo)">{{course.courseName}}</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mainPageObjectsTitle">
                            دستیاران من
                        </div>
                        <div class="mainPageObjects">
                            <div>
                                <ul ng-repeat="course in courses">
                                    <li>
                                        {{course.courseName}}:
                                        <ul ng-repeat="ta in course.tas">
                                            <li>
                                                <a>{{ta}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mainPageObjectsTitle">
                            درخواست دستیاری
                        </div>
                        <div class="mainPageObjects">
                            <div>
                                <ul ng-repeat="req in reqs">
                                    <li>
                                        <ul ng-repeat="course in req.Courses">
                                            <li>
                                                {{course.courseNo}}:
                                                <ul ng-repeat="ta in course.tas">
                                                    <div id="{{ta}}" ng-model="taAcceptorRejectHidden" style="display: inline-block">
                                                        {{ta}}
                                                        <span style="white-space:pre"> --- </span>
                                                        <a ng-click="acceptta(ta, course.courseNo)" style="color: green">قبول</a>
                                                        |
                                                        <a ng-click="rejectta(ta, course.courseNo)" style="color: red">رد</a>
                                                    </div>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mainPageObjectsTitle">
                            رخدادها
                        </div>
                        <div class="mainPageObjects">
                            <div>
                                <a ng-click="getEvent('midterm')">
                                    میانترم
                                </a>
                                <div ng-hide="midtermHidden" ng-repeat="midterm in midterms">
                                    <div>
                                        {{midterm.CourseNo}}
                                    </div>
                                    <div ng-repeat="event in midterm.events">
                                        <a ng-click="eventpage(midterm.CourseNo, 'midterm', event)" href="#eventPage" style="color: blue">
                                            {{event}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a ng-click="getEvent('final')">
                                    پایانترم
                                </a>
                                <div ng-hide="finalHidden" ng-repeat="fin in final">
                                    <div>
                                        {{fin.CourseNo}}
                                    </div>
                                    <div ng-repeat="event in fin.events">
                                        <a style="color: blue">
                                            {{event}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a ng-click="getEvent('assignments')">
                                    تمرین
                                </a>
                                <div ng-hide="assignmentsHidden" ng-repeat="assignment in assignments">
                                    <div>
                                        {{assignment.CourseNo}}
                                    </div>
                                    <div ng-repeat="event in assignment.events">
                                        <a style="color: blue">
                                            {{event}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a ng-click="getEvent('quiz')">
                                    امتحانک
                                </a>
                                <div ng-hide="quizHidden" ng-repeat="q in quiz">
                                    <div>
                                        {{q.CourseNo}}
                                    </div>
                                    <div ng-repeat="event in q.events">
                                        <a href="#eventPage" style="color: blue">
                                            {{event}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-hide="!mainPage" ng-view style="height: 95%;position: relative; color: white;">

                </div>
            </div>
            <div class="column" style="">
                <div style="height: 95%;position: relative; color: white;">
                    <aside class="menu">
                        <div class="menu-label" style="margin-bottom: 0 ;font-size: medium; text-align: center; padding: 10px 0; background-color: darkred; color: #FFF;">
                            تنظیمات
                        </div>
                        <ul class="menu-list" style="background-color: #f1f1f1;">
                            <li><a ng-click="showMainPage()">صفحه شخصی</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</body>
</html>