<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>استادافزار | صفحه شخصی</title>
    <link rel="stylesheet" href="bulma.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="icon" href="favicon.png">
    <script src="angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="main.js"></script>
</head>
<body dir="rtl" style="min-height: 100vh;margin: 0; padding: 0;" ng-app="main" ng-controller="mainCtrl">
    <div style="background-color: #9c0000; padding: 15px 10px; color: white;box-shadow: 0 1px 5px rgba(0,0,0,0.6); position: fixed;top: 0;left: 0;width: 100%;z-index: 100">
        <div style="font-size: 24px; font-weight: bold;">

            استادافزار
            <div style="float: left">
                <a href="/logout" style="color: white;">
                خروج
                </a>
            </div>
        </div>
    </div>
    <img src="mainpage2.jpg" style="position: fixed; z-index: -100" width="100%" height="100%">
    <div ng-click="showPopUp = true" ng-hide="showPopUp" style="position: fixed; z-index: 500; background-color: rgba(122,122,122,0.80); min-height: 100%; min-width: 100%;">
    </div>
    <div id="popUpId" ng-hide="showPopUp" dir="rtl" style="position: fixed; z-index: 501; width: 22%; overflow-y: auto; height: 80%; background-color: rgba(220,220,220,0.90); left: 39%; top: 10%; border-radius: 5px">
        <div style="color: green" ng-hide="!PopUpContent">{{PopUpContentMessage}}</div>
        <div ng-hide="PopUpContent">
            <div class="menu-label" style="position:relative; display: inline-block; margin: 10px ;font-size: medium; text-align: center; padding: 10px; background-color: darkred; color: #FFF;">
                <p>{{reqCourse.courseName}}</p>
                <p>{{reqCourse.ProfessorName}}</p>
            </div>
            <div style="margin-right: 10px;">
                <div>
                    <div style="margin: 10px;">
                        <label class="label">نام استادی که با آن این درس را گذراندید</label>
                        <input ng-model="popUpProf" class="input" type="text" style="margin: 10px;width: 50%;display: block" placeholder="نام استاد مربوطه">
                    </div>
                </div>
                <div>
                    <div style="margin: 10px;">
                        <label class="label">نمره کسب شده در این درس</label>
                        <input ng-model="popUpGrade" class="input" type="text" style="margin: 10px;width: 30%;display: block" placeholder="10.50">
                    </div>
                </div>
                <div>
                    <div style="margin: 10px;">
                        <label class="label">سابقه دستیاری در این درس</label>
                        <input ng-model="popUpTATerms" class="input" type="text" style="margin: 10px;width: 30%;display: block" placeholder="تعداد ترمها">
                    </div>
                </div>
                <div>
                    <div style="margin: 10px;">
                        <label class="label">معدل کل</label>
                        <input ng-model="popUpAvg" class="input" type="text" style="margin: 10px;width: 30%;display: block" placeholder="10.50">
                    </div>
                </div>
                <div>
                    <div style="margin: 10px;">
                        <label class="label">سوابق دستیاری در دروس دیگر</label>
                        <textarea ng-model="popUpTADesc" rows="5" cols="60" maxlength="500" style="margin: 10px;display: block;"></textarea>
                    </div>
                </div>
                <div>
                    <div style="margin: 10px;">
                        <label class="label">توضیحات بیشتر</label>
                        <textarea ng-model="popUpFurtherDesc" rows="5" cols="60" maxlength="500" style="margin: 10px;display: block;"></textarea>
                    </div>
                </div>
                <div>
                    <button ng-click="sendTaRequest(popUpProf, popUpGrade, popUpTATerms, popUpAvg, popUpTADesc, popUpFurtherDesc, reqCourse.ProfessorEmail, reqCourse.courseNo, reqCourse.courseName)" style="background-color: darkred;position: relative; margin-right: 42.5%; margin-top: 10px;" class="button is-success">ارسال</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container is-fluid">
        <div class="columns" style="min-height: 100vh;padding: 100px 0 0 0;">
            <div class="column" style="background-color: rgba(255,255,255,0);">
                <div style=" height: 95%;position: relative; color: white;">
                    <aside class="menu">
                        <div ng-click="myCoursesHidden = !myCoursesHidden" class="menu-label" style="margin-bottom: 0 ;font-size: medium; text-align: center; padding: 10px 0; background-color: darkred; color: #FFF;">
                            <span ng-hide="!myCoursesHidden" class="fa fa-angle-left"></span>
                            <span ng-hide="myCoursesHidden" class="fa fa-angle-down"></span>
                            درس های من
                        </div>
                        <ul ng-hide="myCoursesHidden" class="menu-list" style="background-color: rgba(239,239,239,0.90);" ng-repeat="course in courses">
                            <li>
                                <a href="#coursePage" ng-click="courseInfo(course.courseNo)">{{course.courseName}}</a>
                            </li>
                        </ul>
                        <div ng-click="myTasHidden = !myTasHidden" class="menu-label" style="margin-bottom: 0 ;font-size: medium; text-align: center; padding: 10px 0; background-color: darkred; color: #FFF;">
                            <span ng-hide="!myTasHidden" class="fa fa-angle-left"></span>
                            <span ng-hide="myTasHidden" class="fa fa-angle-down"></span>
                            دستیاران من
                        </div>
                        <ul ng-hide="myTasHidden" class="menu-list" style="background-color: rgba(239,239,239,0.90); overflow-y: auto; max-height: 400px;" ng-repeat="course in courses">
                            <li>
                                <a class="courseta">{{course.courseName}}</a>
                                <ul ng-repeat="ta in course.tas">
                                    <li>
                                        <a href="mailto:{{ta}}">{{ta}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
<!--                        <div ng-click="myEventsHidden = !myEventsHidden" class="menu-label" style="margin-bottom: 0 ;font-size: medium; text-align: center; padding: 10px 0; background-color: darkred; color: #FFF;">
                            <span ng-hide="!myEventsHidden" class="fa fa-angle-left"></span>
                            <span ng-hide="myEventsHidden" class="fa fa-angle-down"></span>
                            رخدادها
                        </div>
                        <ul ng-hide="myEventsHidden" class="menu-list" style="background-color: rgba(239,239,239,0.75);">
                            <li><a>میانترم</a></li>
                            <li><a>پایان ترم</a></li>
                            <li><a>تمرین</a></li>
                            <li><a>امتحانک</a></li>
                        </ul>-->
                    </aside>
                </div>
            </div>
            <div class="column is-8" style="background-color: rgba(215,215,215,0.20);box-shadow: 0 0 5px rgba(0,0,0,0.7)">

                <div ng-hide="mainPage">
                    <div>
                        <div class="mainPageObjectsTitle">
                            درسهای من
                        </div>
                        <div class="mainPageObjects">
                            <div ng-repeat="course in courses">
                                <a href="#coursePage" ng-click="courseInfo(course.courseNo)">{{course.courseName}}</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mainPageObjectsTitle">
                            دستیاران من
                        </div>
                        <div class="mainPageObjects">
                            <div>
                                <ul ng-repeat="course in courses">
                                    <li>
                                        {{course.courseName}}:
                                        <ul ng-repeat="ta in course.tas">
                                            <li>
                                                <a href="mailto:{{ta}}">{{ta}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mainPageObjectsTitle">
                            درخواست دستیاری
                        </div>
                        <div class="mainPageObjects">
                            <div>
                                <ul ng-repeat="req in tareqs">
                                    <li>
                                        <ul ng-repeat="course in req.Courses">
                                            <li>
                                                {{course.courseName}}:
                                                <ul ng-repeat="ta in course.tas">
                                                    <div id="{{ta.StudentEmail}}" style="display: inline-block">
                                                        <a href="mailto:{{ta.StudentEmail}}">{{ta.StudentEmail}}</a>
                                                        <div ng-hide="taAcceptorRejectHidden">
                                                            <span style="white-space:pre"> --- </span>
                                                            <a ng-click="acceptta(ta.StudentEmail, course.courseNo)" style="color: green">قبول</a>
                                                            |
                                                            <a ng-click="rejectta(ta.StudentEmail, course.courseNo)" style="color: red">رد</a>
                                                            <div>رزومه دانشجو:</div>
                                                            <div>{{ta.StudentResume}}</div>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mainPageObjectsTitle">
                            رخدادها
                        </div>
                        <div class="mainPageObjects">
                            <div>
                                <a ng-click="getEvent('midterm')">
                                    میانترم
                                </a>
                                <div ng-hide="midtermHidden" ng-repeat="midterm in midterms">
                                    <div class="mainPageObjectsTitle">
                                        {{midterm.CourseName}}
                                    </div>
                                    <div class="mainPageObjects" ng-repeat="event in midterm.events" style="margin-bottom: 2px;">
                                        <a ng-click="eventpage(midterm.CourseName, 'midterm', event)" href="#eventPage" style="color: blue">
                                            {{event}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a ng-click="getEvent('final')">
                                    پایانترم
                                </a>
                                <div ng-hide="finalHidden" ng-repeat="fin in final">
                                    <div class="mainPageObjectsTitle">
                                        {{fin.CourseName}}
                                    </div>
                                    <div class="mainPageObjects" ng-repeat="event in fin.events" style="margin-bottom: 2px">
                                        <a ng-click="eventpage(fin.CourseName, 'final', event)" href="#eventPage" style="color: blue">
                                            {{event}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a ng-click="getEvent('assignments')">
                                    تمرین
                                </a>
                                <div ng-hide="assignmentsHidden" ng-repeat="assignment in assignments">
                                    <div class="mainPageObjectsTitle">
                                        {{assignment.CourseName}}
                                    </div>
                                    <div class="mainPageObjects" ng-repeat="event in assignment.events" style="margin-bottom: 2px;">
                                        <a ng-click="eventpage(assignment.CourseName, 'assignments', event)" href="#eventPage" style="color: blue">
                                            {{event}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a ng-click="getEvent('quiz')">
                                    امتحانک
                                </a>
                                <div ng-hide="quizHidden" ng-repeat="q in quiz">
                                    <div class="mainPageObjectsTitle">
                                        {{q.CourseName}}
                                    </div>
                                    <div class="mainPageObjects" ng-repeat="event in q.events" style="margin-bottom: 2px;">
                                        <a ng-click="eventpage(q.CourseName, 'quiz', event)" href="#eventPage" style="color: blue">
                                            {{event}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-hide="!mainPage" ng-view style="height: 95%;position: relative; color: white;">

                </div>
            </div>
            <div class="column" style="">
                <div style="height: 95%;position: relative; color: white;">
                    <aside class="menu">
                        <div class="menu-label" style="margin-bottom: 0 ;font-size: medium; text-align: center; padding: 10px 0; background-color: darkred; color: #FFF;">
                            تنظیمات
                        </div>
                        <ul class="menu-list" style="background-color: rgba(239,239,239,0.80);">
                            <li><a ng-click="showMainPage()">صفحه شخصی</a></li>
                        </ul>
                    </aside>
                    <aside ng-hide="!isProfessor" class="menu" style="margin-top: 20px">
                        <div ng-click="showCourses()" class="menu-label" style="margin-bottom: 0 ;font-size: medium; text-align: center; padding: 10px 0; background-color: darkred; color: #FFF;">
                            <span ng-hide="!allCoursesHidden" class="fa fa-angle-left"></span>
                            <span ng-hide="allCoursesHidden" class="fa fa-angle-down"></span>
                            لیست دروس
                        </div>
                        <div dir="ltr" style="overflow-y: auto; max-height: 600px;">
                            <ul ng-hide="allCoursesHidden" ng-repeat="c in allCourses | orderBy : 'courseName'" class="menu-list" style="background-color: rgba(239,239,239,0.80);">
                                <li><a ng-click="showCourse(c.courseName, c.ProfessorName, c.ProfessorEmail, c.courseNo)">{{c.courseName}}</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </div>
    <button ng-click="topFunction()" class="fa fa-chevron-up" id="goTop" title="Go to top"></button>
</body>
</html>