<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" href="./main.css">
</head>
<body dir="rtl" style="min-height: 100vh;background-color: #c3c3c3">
    <div class="container is-fluid">
        <div class="columns" style="min-height: 100vh;">
            <div class="column" style="border: 1px solid black; background-color: #f1f1f1;">
                <div style="border: 1px solid black; text-align: center; margin-bottom: 10px; background-color: #696b6b; color: white;">
                    داشبورد
                </div>
                <div style="border: 1px solid black; height: 95%;position: relative; background-color: #e0e0e0; color: white;">
                    <aside class="menu">
                        <p class="menu-label" style="font-size: medium">
                            درس های من
                        </p>
                        <ul class="menu-list">
                            <li><a>40-121</a></li>
                            <li><a>40-122</a></li>
                        </ul>
                        <p class="menu-label" style="font-size: medium;border-top: 1px solid black;">
                            دستیاران من
                        </p>
                        <ul class="menu-list">
                            <li><a class="courseta">40-121 Discrete Mathematics</a>
                                <ul>
                                    <li><a>سعید حشمتی saeid@live.com</a></li>
                                    <li><a>آریا هاشمی hvdh_ts@live.com</a></li>
                                </ul>
                            </li>
                            <li><a class="courseta">40-122 C Programming</a>
                                <ul>
                                    <li><a>سعید حشمتی saeid@live.com</a></li>
                                    <li><a>آریا هاشمی hvdh_ts@live.com</a></li>
                                </ul>
                            </li>
                        </ul>
                        <p class="menu-label" style="font-size: medium;border-top: 1px solid black;">
                            رخدادها
                        </p>
                        <ul class="menu-list">
                            <li><a>میانترم</a></li>
                            <li><a>پایان ترم</a></li>
                            <li><a>تمرین</a></li>
                            <li><a>امتحانک</a></li>
                        </ul>
                        <p class="menu-label" style="border-top: 1px solid black; font-size: medium; border-bottom: 1px solid black">
                            <a>پیام ها (10)</a>
                        </p>
                    </aside>
                </div>
            </div>
            <div class="column is-8" style="border: 1px solid black; background-color: #f1f1f1;">
                <div style="border: 1px solid black; text-align: center; margin-bottom: 10px; background-color: #696b6b; color: white;">
                    صفحه اصلی
                </div>
                <div style="border: 1px solid black; height: 95%;position: relative; background-color: #e0e0e0; color: white;">

                </div>
            </div>
            <div class="column" style="border: 1px solid black; background-color: #f1f1f1;">
                <div style="border: 1px solid black; text-align: center; margin-bottom: 10px; background-color: #696b6b; color: white;">
                    داشبورد
                </div>
                <div style="border: 1px solid black; height: 95%;position: relative; background-color: #e0e0e0; color: white;">
                    <aside class="menu">
                        <p class="menu-label" style="font-size: medium">
                            تنظیمات
                        </p>
                        <ul class="menu-list">
                            <li><a>صفحه شخصی</a></li>
                        </ul>
                        <p style="border-top: 1px solid black"></p>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</body>
</html>