
<div>
                    <div class="mainPageObjectsTitle">
                        {{CourseInfo.courseName}}
                    </div>
                    <div style="margin-right: 10px; margin-top: 10px;">
                        <div style="color: black;">
                            <div>
                               <a ng-click="eventToggle()" class="mainPageObjectsTitle">
                                   <span ng-hide="!eventHidden" class="fa fa-angle-left"></span>
                                   <span ng-hide="eventHidden" class="fa fa-angle-down"></span>
                                   رخدادها
                               </a>
                                <div ng-hide="eventHidden" style="margin-right: 10px;">
                                    <div class="mainPageObjects" style="margin-bottom: 10px;">
                                        <div class="mainPageObjectsTitle">
                                        میانترم
                                        </div>
                                        <a ng-hide="isProfessor" ng-click="midtermToggle()" style="color: blue">
                                            افزودن
                                        </a>
                                        <div class="mainPageObjects" ng-hide="newMidtermHidden">
                                            <form action="/fileUpload" method="post" enctype="multipart/form-data">
                                                <input type="text" name="courseNo" value="{{CourseInfo.courseNo}}">
                                                <input type="text" name="eventType" value="midterm">
                                                <div class="field" dir="rtl">
                                                    <p class="control">
                                                        <input dir="rtl" ng-model="eventTime1" class="input" name="time" type="text" placeholder="ثبت تاریخ ساعت و مکان">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                        <div class="file is-info">
                                                            <label class="file-label">
                                                                <input class="file-input" type="file" name="filetoupload">
                                                                <span class="file-cta">
                                                                    <span class="file-icon">
                                                                      <i class="fa fa-upload"></i>
                                                                    </span>
                                                                    <span class="file-label">
                                                                        افزودن فایل
                                                                    </span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                </div>
                                                <div class="field">
                                                    <p class="control" style="text-align: center">
                                                        <button ng-click="submitNewEvent(CourseInfo.courseNo, 'midterm', eventTime1)" type="submit" class="button is-success " style="background-color: darkred;width: 30%">
                                                            ثبت
                                                        </button>
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                        <div ng-repeat="event in CourseInfo.events.midterm">
                                            <div>
                                                {{event}}
                                            </div>
                                        </div>
                                        <div style="color: blue">
                                            فایلهای مربوطه
                                            <div ng-repeat="file in CourseInfo.events.midtermfiles">
                                                <div>
                                                    <a href="/download?name={{file}}&eventType=midterm">{{file}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mainPageObjects" style="margin-bottom: 10px;">
                                        <div class="mainPageObjectsTitle">
                                        پایانترم
                                        </div>
                                        <a ng-hide="isProfessor" ng-click="finalToggle()" style="color: blue">
                                            افزودن
                                        </a>
                                        <div class="mainPageObjects" ng-hide="newFinalHidden">
                                                <form action="/fileUpload" method="post" enctype="multipart/form-data">
                                                    <input type="text" name="courseNo" value="{{CourseInfo.courseNo}}">
                                                    <input type="text" name="eventType" value="final">
                                                <div class="field" dir="rtl">
                                                    <p class="control">
                                                        <input dir="rtl" ng-model="eventTime2" class="input" name="time" type="text" placeholder="ثبت تاریخ ساعت و مکان">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <div class="file is-info">
                                                        <label class="file-label">
                                                            <input class="file-input" type="file" name="filetoupload">
                                                            <span class="file-cta">
                                                                <span class="file-icon">
                                                                  <i class="fa fa-upload"></i>
                                                                </span>
                                                                <span class="file-label">
                                                                    افزودن فایل
                                                                </span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <p class="control" style="text-align: center">
                                                        <button ng-click="submitNewEvent(CourseInfo.courseNo, 'final', eventTime2)" type="submit" class="button is-success " style="background-color: darkred;width: 30%">
                                                            ثبت
                                                        </button>
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                        <div ng-repeat="event in CourseInfo.events.final">
                                            <div>
                                                {{event}}
                                            </div>
                                        </div>
                                        <div style="color: blue">
                                            فایلهای مربوطه
                                            <div ng-repeat="file in CourseInfo.events.finalfiles">
                                                <div>
                                                    <a href="/download?name={{file}}&eventType=final">{{file}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mainPageObjects" style="margin-bottom: 10px;">
                                        <div class="mainPageObjectsTitle">
                                        تمرین
                                        </div>
                                        <a ng-hide="isProfessor" ng-click="assignmentToggle()" style="color: blue">
                                            افزودن
                                        </a>
                                        <div class="mainPageObjects" ng-hide="newAssignmentHidden">
                                            <form action="/fileUpload" method="post" enctype="multipart/form-data">
                                                <input type="text" name="courseNo" value="{{CourseInfo.courseNo}}">
                                                <input type="text" name="eventType" value="assignments">
                                                <div class="field" dir="rtl">
                                                    <p class="control">
                                                        <input dir="rtl" ng-model="eventTime3" class="input" name="time" type="text" placeholder="ثبت تاریخ ساعت و مکان">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <div class="file is-info">
                                                        <label class="file-label">
                                                            <input class="file-input" type="file" name="filetoupload">
                                                            <span class="file-cta">
                                                                <span class="file-icon">
                                                                  <i class="fa fa-upload"></i>
                                                                </span>
                                                                <span class="file-label">
                                                                    افزودن فایل
                                                                </span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <p class="control" style="text-align: center">
                                                        <button ng-click="submitNewEvent(CourseInfo.courseNo, 'assignments', eventTime3)" type="submit" class="button is-success " style="background-color: darkred;width: 30%">
                                                            ثبت
                                                        </button>
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                        <div ng-repeat="event in CourseInfo.events.assignments">
                                            <div>
                                                {{event}}
                                            </div>
                                        </div>
                                        <div style="color: blue">
                                            فایلهای مربوطه
                                            <div ng-repeat="file in CourseInfo.events.assignmentsfiles">
                                                <div>
                                                    <a href="/download?name={{file}}&eventType=assignments">{{file}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mainPageObjects" style="margin-bottom: 10px;">
                                        <div class="mainPageObjectsTitle">
                                        امتحانک
                                        </div>
                                        <a ng-hide="isProfessor" ng-click="quizToggle()" style="color: blue">
                                            افزودن
                                        </a>
                                        <div class="mainPageObjects" ng-hide="newQuizHidden">
                                            <form action="/fileUpload" method="post" enctype="multipart/form-data">
                                                <input type="text" name="courseNo" value="{{CourseInfo.courseNo}}">
                                                <input type="text" name="eventType" value="quiz">
                                                <div class="field" dir="rtl">
                                                    <p class="control">
                                                        <input ng-model="eventTime4" class="input" name="time" type="text" placeholder="ثبت تاریخ ساعت و مکان">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <div class="file is-info">
                                                        <label class="file-label">
                                                            <input class="file-input" type="file" name="filetoupload">
                                                            <span class="file-cta">
                                                                <span class="file-icon">
                                                                  <i class="fa fa-upload"></i>
                                                                </span>
                                                                <span class="file-label">
                                                                    افزودن فایل
                                                                </span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <p class="control" style="text-align: center">
                                                        <button dir="rtl" ng-click="submitNewEvent(CourseInfo.courseNo, 'quiz', eventTime4)" type="submit" class="button is-success " style="background-color: darkred;width: 30%">
                                                            ثبت
                                                        </button>
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                        <div ng-repeat="event in CourseInfo.events.quiz">
                                            <div>
                                                {{event}}
                                            </div>
                                        </div>
                                        <div style="color: blue">
                                            فایلهای مربوطه
                                            <div ng-repeat="file in CourseInfo.events.quizfiles">
                                                <div>
                                                    <a href="/download?name={{file}}&eventType=quiz">{{file}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a  ng-click="taToggle()" class="mainPageObjectsTitle">
                                    <span ng-hide="!eventHidden" class="fa fa-angle-left"></span>
                                    <span ng-hide="eventHidden" class="fa fa-angle-down"></span>دستیاران آموزشی</a>
                                <div class="mainPageObjects" ng-hide="taHidden" style="margin-right: 10px;">
                                    <div ng-repeat="ta in CourseInfo.tas">
                                        <a href="mailto:{{ta}}">
                                            {{ta}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="mainPageObjectsTitle">
                        بورد درسی
                    </div>
                    <div class="mainPageObjects">
                        <div class="field has-addons">
                            <p class="control">
                                <input id="sendmsg" ng-model="msg" class="input" type="text" size="200px">
                            </p>
                            <p class="control">
                                <button ng-click="sendMessage(CourseInfo.courseNo, msg)" class="button" style="color: white;margin-right: 5px;background: darkred;" type="submit" value="ارسال">ارسال</button>
                            </p>
                        </div>
                        <div ng-repeat="msg in CourseInfo.messages" id="messageBoard">
                            <div class="mainPageObjects" style="margin-bottom: 10px;">
                                <div>فرستنده: {{msg.sender}}</div>
                                <div>متن پیام: {{msg.msg}}</div>
                                <div style="position:relative; font-size: small;" dir="ltr">{{msg.time}}</div>
                            </div>
                        </div>
                    </div>
                </div>
</div>