<!doctype html>
<html>
<head>
    <title>استادافزار</title>
    <link rel="stylesheet" href="bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        @font-face {
            font-family: "shabnam";
            src: url("/styles/fonts/Shabnam.ttf");
        }
        body        { padding-top:30px; font-family: shabnam; background-color: #cacaca}
        h1 {font-family: shabnam}
        a {background: darkred; color: white;}
    </style>
</head>
<body dir="rtl">
<div>
    <img src="universityLogo.jpg" style="position: fixed; z-index: -100" width="100%" height="100%">
    <div class="container" style="z-index:100;">
        <div style="background-color: #9c0000; padding: 15px 10px; color: white;box-shadow: 0 1px 5px rgba(0,0,0,0.6); position: fixed;top: 0;left: 0;width: 100%;z-index: 100">
            <div style="font-size: 24px; font-weight: bold;">

                استادافزار
            </div>
        </div>
        <div class="jumbotron text-center" style="background-color: rgba(202,202,202,0.65)">
            <h1>سامانه متمرکز</h1>
            <h1>تعامل بین استاد و دستیاران آموزشی</h1>

            <br>
            <p>برای ورود یا نام نویسی بر روی لینک های مربوطه کلیک کنید</p>

            <a href="/login" class="btn"><span class="fa fa-user"></span> ورود </a>
            <a href="/signup" class="btn"><span class="fa fa-user"></span> نام نویسی</a>
        </div>

    </div>
</div>
</body>
</html>